.custom-btn {
  background-color: rgb(15, 20, 24) !important;
  border: 0px rgb(15, 20, 24) !important;
  width: 100% !important;
  border-radius: 20px !important;
  padding: 10px !important;
}

.ttt {
  background-color: white;
  margin-top: 15px;
  border-radius: 15px;
}

.rowww {
  background-color: #F1EEF4 !important;
}

.bggg {
  background-color: #F1EEF4;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

.title22 {
  margin-top: 25px;
  color: rgb(15, 20, 24) ;
}

.custom-add {
  background-color: rgb(15, 192, 15) !important;
  border: 0px rgb(15, 192, 15) !important;
  margin-right: 10px !important;
}

.custom-delete {
  background-color: red !important;
  border: 0px red !important;
  color: white !important;
  margin-left: 10px !important;
  padding: 5px 15px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

.custom-update {
  background-color: rgb(255, 191, 0) !important;
  border: 0px rgb(255, 191, 0) !important;
  color: white !important;
  padding: 5px 15px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

.shwimg {
  height: 130px;
}

@media (max-width: 1024px) {
  .prc {
    visibility: hidden;
  }

  .shwimg {
    height: 60px;
  }

  .ops {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
  }
}