/* this is the font bebas */
.font-a {
  font-family: 'Protest Strike', sans-serif !important;
  letter-spacing: 1px;
}

.font-b {
  font-family: 'Bebas Neue', sans-serif !important;
  letter-spacing: 1px;
}

.font-c {
  font-family: 'Roboto Condensed', sans-serif !important;
  letter-spacing: 1px;
}