/* this is the font bebas */
.font-a {
  font-family: 'Oswald', sans-serif !important;
  letter-spacing: 1px;
}

.font-b {
  font-family: 'Bebas Neue', sans-serif !important;
  letter-spacing: 1px;
}

.font-c {
  font-family: 'Montserrat', sans-serif !important;
  letter-spacing: 1px;
}


/* head */
.custom-head {
  width: 100% !important;
  background-color: rgb(17, 17, 17);
  display: flex;
  align-items: center;
}

.custom-brand {
  color: white !important;
  /*font-weight: bold !important;*/
  margin-right: 20% !important;
  margin-left: 30px !important;
}

.custom-placeholder::placeholder {
  color: lightgray !important;
  font-size: 14px !important;
}

/* links */
.custom-links {
  display: flex !important;
  margin-right: auto !important;
  width: auto !important;
}

.custom-routlinks {
  text-decoration: none !important;
  color: white !important;
  padding: 30px 0;
}

.custom-droproutlinks {
  text-decoration: none !important;
  width: 150px !important;
  color: black !important;
}

/* search */
.custom-search {
  margin-right: 20% !important;
  width: 300px !important;
}


/* the container of the form sign up and login and add */
.back {
  background-color: #F1EEF4;
}

.custom-cont-login {
  background-color: #F1EEF4;
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.custom-cont-signup {
  background-color: #FFF;
  display: flex;
  height: 110vh;
  justify-content: space-around;
  align-items: center;
}

.custom-cont-addpro {
  background-color: #F1EEF4;
  display: flex;
  height: 140vh;
  justify-content: center;
  align-items: center;
}

.custom-cont-updpro {
  background-color: #F1EEF4;
  display: flex;
  height: 160vh;
  justify-content: center;
  align-items: center;
}

/* container of the sign up */
.custom-signup {
  width: 45%;
  background-color: #f6f2f9;    
  padding: 30px 25px;
  border-radius: 20px;
}

/* container of the login */
.custom-login {
  width: 40%;
  background-color: white;
  padding: 50px 40px;
  border-radius: 20px;
}

/* container of add */

.custom-addpro {
  width: 80%;
  background-color: white;
  padding: 50px 40px;
  border-radius: 20px;
}

.custom-updpro {
  width: 70%;
  background-color: white;
  padding: 50px 40px;
  border-radius: 20px;
}

/* error message */

.error-message {
  background-color: red;
  color: white;

}

/* the image in the registration page */
.custom-sideimg {
  width: 40%;
  border-radius: 20px;
  background-color: transparent;
}

/* the carts in the home page */

.product-container {
  display: flex !important;
  margin-bottom: 20px !important;
}

.product-card {
  width: 200px;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* responsive */
@media (max-width: 1024px) {
  .custom-links {
    margin-left: 0 !important;

  }

  .custom-search {
    margin-left: 0 !important;
    width: 100% !important;
  }

  .custom-sideimg {
    visibility: hidden;
  }

  .custom-cont-login {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .custom-cont-signup {
    width: 100% !important;
    height: 160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .custom-cont-updpro {
    height: 160vh;
  }

  .custom-login {
    width: 80% !important; 
  }

  .custom-signup {
    margin-bottom: 50px !important;
    width: 70% !important;
  }

  .input {
    width: calc(100% - 20px) !important;
  }

  .bar {
    width: calc(100% - 20px) !important;
  }

  .highlight {
    width: calc(100% - 20px) !important; 
  }

}

/* buttons */
.custom-btn {
  background-color: rgb(15, 20, 24)  !important;
  border: 0px rgb(15, 20, 24)  !important;
  width: 100% !important;
  border-radius: 20px !important;
  padding: 10px !important;
}

.custom-add {
  background-color: rgb(15, 192, 15) !important;
  border: 0px rgb(15, 192, 15) !important;
}

.custom-delete {
  background-color: red !important;
  border: 0px red !important;
  color: white !important;
  margin-left: 10px !important;
  padding: 5px 15px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

.custom-update {
  background-color: rgb(255, 191, 0) !important;
  border: 0px rgb(255, 191, 0) !important;
  color: white !important;
  padding: 5px 15px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

/* text fields in login and signup form from uiverse --------------------------------------------------- */
.group {
  position: relative;
 }

 .input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(15, 20, 24) ;
  background: transparent;
 }

 .input:focus {
  outline: none;
 }

 label {
  color: rgb(15, 20, 24) ;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }

 .input:focus ~ label, .input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: rgb(15, 20, 24) ;
 }

 .bar {
  position: relative;
  display: block;
  width: 100%;
 }

 .bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: rgb(15, 20, 24) ;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }

 .bar:before {
  left: 50%;
 }

 .bar:after {
  right: 50%;
 }

 .input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;
 }

 .highlight {
  position: absolute;
  height: 60%;
  width: 600px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
 }

 .input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
 }

 @keyframes inputHighlighter {
  from {
   background: rgb(15, 20, 24) ;
  }

  to {
   width: 0;
   background: transparent;
  }
 }


/* Avatar design -------------------------------------------------------------------------*/

.avatar {
  border-radius: 50%;
  border: 3px white solid ;
  margin-left: 10px;
}

.update-img {
  width: 80%;
}

/*some news here----------------------------------------------------------------------------------------*/

.tit {
  color: rgb(15, 20, 24) ;
  margin-bottom: 20px;
}

.nores {
  margin-top: 100px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.undrow {
  height: 500px;
}